* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
    width: 350px;
    background: #030300;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 10px;
    height: 582px;
    /* padding: 0px 10px 10px 10px; */
}
.sidebar-nav {
    background-color: #111111;
    border-radius: 10px;
    padding: 18px 0px 22px 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    height: 582px;
}
.sidebar-logo {
    padding: 20px 20px 5px 20px;
}
.sidebar-logo .logo {
    width: 38px;
}
.sidebar-logo .logo img {
    width: 100%;
}
.nav-sec .arrow-btn .home i {
    padding: 15px;
    background: #222121;
    border-radius: 50%;
}
.arrow-btn {
    margin-left: 35px;
    display: flex;
    gap: 15px;
}
.search-icon {
    background: #222121;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    width: 500px;
    padding-left: 25px;
    gap: 10px;
}
.search-icon input {
    color: #dedede;
    background: transparent;
    width: 370px;
    border-width: 0px 2px 0px 0px;
}
.sidebar-nav ul {
    list-style: none;
    margin-top: 10px;
}
.sidebar-nav ul li {
    padding: 10px 0px;
}
.sidebar-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.sidebar-nav ul li a i {
    font-size: 20px;
    margin-right: 15px;
}
.library::after {
    content: "+";
    float: right;
    margin-right: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
}
.library-sec {
    margin: 0px 0px 20px 10px;
}
.create-playlist {
    background: #1c1c1c;
    border-radius: 10px 10px;
    margin-bottom: 10px;
    padding: 24px 15px;
}
.sidebar-scroll {
    height: 300px;
    overflow-y: auto;
}
.sidebar-scroll::-webkit-scrollbar {
    background: transparent;
}
.sidebar-scroll::-webkit-scrollbar-thumb {
    background: transparent;
    width: 5px;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb {
    background: #5d5d5d;
    width: 3px;
}
.create-playlist h4 {
    color: #fff;
    font-size: 15px;
}
.create-playlist p {
    color: #fff;
    font-size: 11px;
    margin: 12px 0px;
}
.create-playlist button {
    outline: 0;
    border: 0;
    border-radius: 15px;
    padding: 8px 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
.Privacy ul li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #5b5b5b;
    margin: 5px 10px;
}
.Privacy ul {
    list-style: none;
    line-height: 12px;
}
.Privacy ul li {
    padding-bottom: 5px;
}
.english {
    padding: 20px 30px;
}
.english button {
    padding: 10px 20px;
    background: transparent;
    color: #fff;
    border: 1px solid #c8c6c6;
    border-radius: 25px;

    font-weight: 600;
}
.english button:hover {
    padding: 11px 31px;
    border: 1px solid #fff;
}
.main-sec {
    margin-left: 370px;
    background: #181818;
    height: 100vh;
    overflow: auto;
    border-radius: 10px;
    height: 650px;
    margin-right: 10px;
}
.main-sec::-webkit-scrollbar {
    background: transparent;
}
.main-sec::-webkit-scrollbar-thumb {
    background: transparent;
    width: 5px;
}
.main-sec:hover::-webkit-scrollbar-thumb {
    background: #5d5d5d;
    width: 3px;
}
.main-sec .nav-sec {
    padding: 10px 20px 10px 20px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    position: fixed;
    min-width: 76%;
}

.main-sec .nav-sec .arrow-btn button {
    background: transparent;
    border: 0;
}
.main-sec .nav-sec .arrow-btn button i {
    color: #999898;
    padding: 10px 13px;
    font-size: 20px;
    margin-right: 15px;
    background: #000000;
    border-radius: 50%;
}
.nav-sec .login .sign-up {
    background: transparent;
    border: 0;
    font-size: 16px;
    color: #b3b2b2;
    font-weight: 600;
}
.nav-sec .login .sign-up:hover {
    color: #eeebeb;
}
.nav-sec .login .login-btn {
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 600;
}
.nav-sec .login .login-btn:hover {
    background-color: #cecaca;
}
.section {
    margin-top: 60px;
}

.popular-artist {
    padding: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
}
.pop a {
    text-decoration: none;
}
.pop a h2 {
    color: #fff;
    font-weight: 600;
}
.pop a h2:hover {
    text-decoration: underline;
}
.popular-artist .show a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.popular-artist .show a:hover {
    text-decoration: underline;
}
.artist-sec {
    margin-left: 20px;
}
.artist-sec h5 {
    color: #fff;
}
.artist-sec p {
    color: #fff;
    font-size: 13px;
}
.artist-sec .card {
    display: flex;
    overflow: hidden;
    gap: 20px;
}
.artist-sec .card .item {
    width: 160px;
    min-width: 120px;
}
.artist-sec .card .item img {
    width: 100%;
    border-radius: 50%;
    min-width: 120px;
    height: 100px;
}
.artist-sec .card .item h5 {
    padding: 10px;
}
.artist-sec .card .item p {
    padding-left: 10px;
}
section {
    border-radius: 10px;
}
.spotify-playlist .card {
    display: flex;
    margin-left: 10px;
}
.spotify-playlist .card .item {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.spotify-playlist .card .item:hover {
    background: #2a2929;
}
.spotify-playlist .card .item img {
    width: 100%;
    border-radius: 5px;
}

.spotify-playlist .card .item h4,
p {
    color: #fff;
}
.spotify-playlist .card .item p {
    font-size: small;
    padding: 5px 0px;
    line-height: 18px;
}
.spotify-playlist .card .item p:hover {
    text-decoration: underline;
}
.spotify-playlist .card .item h4 {
    margin: 5px 0px;
}
.spotify-playlist .card .item .play-btn i {
    position: absolute;
    background: #18d266;
    padding: 10px 12px;
    border-radius: 100%;
    left: 95px;
    top: -50px;
    opacity: 0;
}

.spotify-playlist .card .item .play-btn {
    position: relative;
}
.spotify-playlist .card .item:hover .play-btn i {
    opacity: 1;
}
.spotify-playlist .card .item .img-rad {
    border-radius: 100%;
}
.footer-sec {
    margin-top: 20px;
    color: #fff;
    padding: 30px 18px;
    display: flex;
    width: 1000px;
    justify-content: space-between;
}
.footer-sec div {
    margin-bottom: 5px;
    padding: 5px 8px;
}
.footer-sec div a {
    text-decoration: none;
    color: #fff;
}
.social-media {
    display: flex;
}
.social-media div a i {
    background: #3c3c3c;
    padding: 12px;
    border-radius: 40px;
}
.company div a {
    color: #a0a0a0;
}
.line {
    height: 0px;
    border-bottom: 0.5px solid #474747;
    margin: 10px 0px;
}
small {
    color: #868686;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
}
.preview {
    display: flex;
    padding: 20px;
    font-size: 14px;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    padding: 11px 24px 7px 15px;
    margin-top: 6px;
    height: 65px;
    margin-left: 10px;
    margin-right: 10px;
}
.preview h4 {
    color: #fff;
    padding: 5px;
}
.preview p {
    color: #fff;
    padding: 5px;
}
.preview button {
    padding: 15px;
    border-radius: 25px;
    border: 0;
    color: #000;
    font-weight: 600;
    font-size: 15px;
}
